<%= form_with(model: shop, local: true, id: 'yourForm') do |form| %>
  <div class="mb-4">
    <%= form.label :name, t('activerecord.attributes.shop.name'), class: "block text-base md:text-lg text-gray-800 font-semibold" %>
    <%= form.text_field :name, class: "border-2 border-yellow-500 px-3 py-2 w-full mt-2 bg-white rounded-lg shadow-md" %>
  </div>

  <div class="mb-4">
    <%= form.label :prefecture, t('activerecord.attributes.shop.prefecture'), class: "block text-base md:text-lg text-gray-800 font-semibold" %>
    <%= form.select :prefecture, Shop.prefectures.keys.map {|k| [t("activerecord.attributes.shop.prefectures.#{k}"), k]}, {}, class: "border-2 border-yellow-500 px-3 py-2 w-full mt-2 bg-white rounded-lg shadow-md" %>
  </div>

  <div class="mb-4">
    <%= form.label :business_hour, t('activerecord.attributes.shop.business_hour'), class: "block text-base md:text-lg text-gray-800 font-semibold" %>
    <%= form.text_field :business_hour, class: "border-2 border-yellow-500 px-3 py-2 w-full mt-2 bg-white rounded-lg shadow-md" %>
  </div>

  <div class="mb-4">
    <%= form.label :closed, t('activerecord.attributes.shop.closed'), class: "block text-base md:text-lg text-gray-800 font-semibold" %>
    <div class="mt-2">
      <% Shop::DAYS_OF_THE_WEEK.each do |day| %>
        <%= check_box_tag 'shop[closed_days][]', day, (shop.closed_days || []).include?(day), class: "mr-2" %>
        <%= label_tag day, t("activerecord.attributes.shop.days_of_week.#{day}"), class: "mr-4 text-gray-800" %>
      <% end %>
    </div>
  </div>

  <div class="mb-4">
    <%= form.label :shop_img, t('activerecord.attributes.shop.shop_img'), class: "block text-base md:text-lg text-gray-800 font-semibold" %>
    <%= form.file_field :shop_img, class: "border-2 border-yellow-500 px-3 py-2 w-full mt-2 bg-white rounded-lg shadow-md", id: "shopImage" %>
  </div>
  <div id="shopImagePreview"></div>

  <div class="mb-4">
    <%= form.label :address, t('activerecord.attributes.shop.address'), class: "block text-base md:text-lg text-gray-800 font-semibold" %>
    <%= form.text_field :address, id: 'shop_address', class: "border-2 border-yellow-500 px-3 py-2 w-full mt-2 bg-white rounded-lg shadow-md" %>
  </div>

  <div class="mb-4">
    <button type="button" id="getCurrentLocation" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300">
      現在地を取得
    </button>
  </div>

  <%= form.hidden_field :latitude, id: 'shop_latitude' %>
  <%= form.hidden_field :longitude, id: 'shop_longitude' %>

  <div class="actions mt-4">
    <%= form.submit t('shops.new.submit'), class: "bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300" %>
  </div>
<% end %>