<div class="flex justify-center items-center mt-48 mx-auto">
  <div class="w-full max-w-2xl">
    <div class="text-center mb-4">
      <h1><%= t('users.index.title') %></h1>

      <% @users.each do |user| %>
        <div class="border-2 border-black p-4 mb-4">
          <h2><%= link_to user.name, user_path(user) %></h2>
          <p><%= t('users.index.email', email: user.email) %></p>
          <p><%= t('users.index.age', age: user.human_attribute_enum_value(:age)) %></p>
          <p><%= t('users.index.prefecture', prefecture: user.human_attribute_enum_value(:live_prefecture)) %></p>
          <p><%= t('users.index.tolerance', tolerance: user.human_attribute_enum_value(:tolerance)) %></p>
          <%= image_tag user.profile_img if user.profile_img.present? %>
        </div>
      <% end %>
    </div>
  </div>
</div>
