<div class="flex justify-center items-center mt-48 mx-auto">
  <div class="w-full max-w-xl">
    <div class="text-center mb-4">
      <h1><%= @user.name %></h1>
      <p><%= t('users.show.email', email: @user.email) %></p>
      <p><%= t('users.show.age', age: @user.age_i18n) %></p>
      <p><%= t('users.show.prefecture', prefecture: @user.live_prefecture_i18n) %></p>
      <p><%= t('users.show.tolerance', tolerance: @user.tolerance_i18n) %></p>

      <%= image_tag @user.profile_img.url if @user.profile_img.present? %>

    </div>
  </div>
</div>
