<div class="bg-gray-800 px-6 py-4">
  <div class="flex items-center justify-between">
    <a class="text-white text-lg" href="/">RUNTEQ 中間試験</a>
    <div>
      <%= render 'shared/search_form', url: posts_path, q: @q %>
    </div>
    <div>
      <ul class="flex items-center space-x-6">
        <% if current_user.present? %>
          <li>
            <%= link_to '投稿一覧', posts_path, class: 'text-white' %>
          </li>
          <li>
            <%= link_to '投稿作成', new_post_path, class: 'text-white' %>
          </li>
          <li>
            <%= link_to 'Logout', logout_path, data: { turbo_method: :delete }%>
          </li>
        <% else %>
          <li>
            <%= link_to 'ユーザー登録', new_user_path, class: 'text-white' %>
          </li>
          <li>
            <%= link_to 'ログイン', login_path, class: 'text-white' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
