<div class="flex justify-center items-center mt-48 mx-auto">
  <div class="w-full max-w-sm">
    <div class="text-center mb-4">
      <h1><%= t('posts.edit.title') %></h1>
        <%= form_with(model: @post, local: true) do |form| %>
            <div class="mb-4">
                <%= form.label :title, t('posts.edit.title') %>
                <%= form.text_field :title, class: "border-2 border-black px-3 py-2 w-full" %>
            <div class="mb-4">
                <%= form.label :shop_prefecture, t('posts.edit.shop_prefecture') %>
                <%= form.select :shop_prefecture, Post.shop_prefectures.keys.map {|k| [t("activerecord.attributes.post.shop_prefectures.#{k}"), k]}, {}, class: "border-2 border-black px-3 py-2 w-full" %>
            </div>
            <div class="mb-4">
                <%= form.label :spiciness, t('posts.edit.spiciness') %>
                <%= form.select :spiciness, Post.spicinesses.keys.map {|k| [t("activerecord.attributes.post.spicinesses.#{k}"), k]}, {}, class: "border-2 border-black px-3 py-2 w-full" %>
            </div>
            <div class="mb-4">
                <%= form.label :curry_img, t('posts.edit.curry_img') %>
                <%= form.file_field :curry_img, class: "border-2 border-black px-3 py-2 w-full", id: "curryImage" %>
            </div>
            <div id="curryImagePreview">
              <%= image_tag @post.curry_img.url if @post.curry_img.present? %>
            </div>

            <div class="actions mt-4">
                <%= form.submit t('posts.edit.submit'), class: "btn btn-primary" %>
            </div>
            <div class='text-center'>
                <%= link_to t('posts.edit.back_to_show_link'), post_path(@post) %>
                <%= link_to t('posts.edit.back_to_index_link'), posts_path %>
            </div>
        <% end %>
    </div>
  </div>
</div>
