<div class="flex justify-center items-center mt-48 mx-auto">
  <div class="w-full max-w-sm">
    <cdiv class="text-center mb-4">
      <h1>新規投稿</h1>
        <%= form_with(model: @post, local: true) do |form| %>
            <div class="mb-4">
                <%= form.label :title, t('posts.new.title') %>
                <%= form.text_field :title, class: "border-2 border-black px-3 py-2 w-full" %>
            </div>
            <div class="mb-4">
                <%= form.label :shop_prefecture, t('posts.new.shop_prefecture') %>
                <%= form.text_field :shop_prefecture, class: "border-2 border-black px-3 py-2 w-full" %>
            </div>
            <div class="mb-4">
                <%= form.label :spiciness, t('posts.new.spiciness') %>
                <%= form.number_field :spiciness, in: 1..5, class: "border-2 border-black px-3 py-2 w-full" %>
            </div>
            <div class="mb-4">
                <%= form.label :curry_img, t('posts.new.curry_img') %>
                <%= form.file_field :curry_img, class: "border-2 border-black px-3 py-2 w-full", id: "curryImage" %>
            </div>
            <div id="imagePreview"></div>

            <div class="actions mt-4">
                <%= form.submit t('posts.new.submit'), class: "btn btn-primary" %>
            </div>
            <div class='text-center'>
                <%= link_to t('posts.new.back_to_index_link'), posts_path %>
            </div>
        <% end %>
    </div>
  </div>
</div>
