<div class="flex justify-center items-center mt-48 mx-auto">
  <div class="w-full max-w-sm">
    <cdiv class="text-center mb-4">
      <h1>新規投稿</h1>
        <%= form_with(model: @post, local: true) do |form| %>
            <div class="mb-4">
                <%= form.label :title, t('posts.new.title') %>
                <%= form.text_field :title, class: "border-2 border-black px-3 py-2 w-full" %>
            </div>
            <div class="flex justify-between items-center mb-4">
              <div>
                <%= form.label :shop, t('posts.new.shop') %>
                <%= form.collection_select :shop_id, Shop.all, :id, :name, {}, {class: "border-2 border-black px-3 py-2"} %>
              </div>
              <div>
                <%= link_to t('shops.new.new_shop_link'), new_shop_path, class: "btn btn-primary" %>
              </div>
            </div>
            <div class="mb-4">
                <%= form.label :shop_prefecture, t('posts.new.shop_prefecture') %>
                <%= form.select :shop_prefecture, Post.shop_prefectures.i18n_options, {}, class: "border-2 border-black px-3 py-2 w-full" %>
            </div>
            <div class="mb-4">
                <%= form.label :spiciness, t('posts.new.spiciness') %>
                <%= form.select :spiciness, Post.spicinesses.i18n_options, {}, class: "border-2 border-black px-3 py-2 w-full" %>
            </div>
            <div class="mb-4">
                <%= form.label :curry_img, t('posts.new.curry_img') %>
                <%= form.file_field :curry_img, class: "border-2 border-black px-3 py-2 w-full", id: "curryImage" %>
            </div>
            <div id="curryImagePreview"></div>

            <div class="actions mt-4">
                <%= form.submit t('posts.new.submit'), class: "btn btn-primary" %>
            </div>
            <div class='text-center'>
                <%= link_to t('posts.new.back_to_index_link'), posts_path %>
            </div>
        <% end %>
    </div>
  </div>
</div>
