<!DOCTYPE html>
<html data-theme='cyburpunk'>
  <head>
    <title>SpiceGate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if current_user %>
      <meta name="current-user-id" content="<%= current_user.id %>">
    <% end %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkD2BhYcWQiqwZcyRHpCZZQJOsEhcCJrY"></script> <!-- ここに追加 -->
  </head>

  <body>
    <%= render 'shared/header' %>
    
    <% flash.each do |message_type, message| %>
      <div class="<%= flash_classname(message_type) %>">
        <%= message %>
        <button class="close" onclick="this.parentElement.style.display='none';">&times;</button>
      </div>
    <% end %>

    <%= yield %>
    <%= javascript_include_tag 'application', "data-turbo-track": "reload" %>
  </body>
</html>
