<!DOCTYPE html>
<html data-theme='cyburpunk'>
  <head>
    <title>SpiceGate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>

    <!-- FontAwesomeのCDNリンクを追加 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <% if current_user %>
      <meta name="current-user-id" content="<%= current_user.id %>">
    <% end %>
    
    <%= stylesheet_link_tag "header", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', "data-turbo-track": "reload" %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>"></script>
  </head>

  <body class="flex flex-col items-stretch min-h-screen">
    <div class="header z-20 fixed top-0 w-full">
      <%= render 'shared/header' %>
    </div>

  <%= render 'shared/flash_message' %>
    <div class="content mt-16 mb-16">
      <%= yield %>
    </div>
    <div class="footer z-20 fixed bottom-0 w-full">
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
